<div class="modal-header">
  <h4 class="modal-title">
    Forgot Password
  </h4>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>

<form [formGroup]="form" (ngSubmit)="formSubmit()">
  <div class="modal-body">

    <div class="row">

      <div class="col-md-12 form-group">
        <label class="required set-label">Email Address</label>
        <input class="form-control" (keydown.space)="$event.preventDefault()" formControlName="email"
               type="email" placeholder="Enter Email"/>
        <div class="text-error" *ngIf="form.controls['email'].errors?.required && showError">
          This field is required.
        </div>
        <div class="text-error" *ngIf="form.controls['email'].errors?.email && showError">
          Please enter valid email!
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <div class="col-md-12 ">
      <!-- <button (click)="bsModalRef.hide()" type="button" class="btn-cancel">Cancel</button> -->
      <button type="submit" class="btn-blue w-100">Send reset code to this email address</button>
    </div>
  </div>
</form>
