<div class="modal-header">
  <h4 class="modal-title">
    Reject Reason
  </h4>
</div>

<form [formGroup]="form" (ngSubmit)="formSubmit()">
  <div class="modal-body">

    <div class="row">

      <div class="col-md-12 form-group">
        <label class="required set-label">Comment</label>
        <input  class="form-control" formControlName="rejected_comment"  appTrim
                type="text" placeholder="Enter comment"/>
        <div class="text-error" *ngIf="form.controls['rejected_comment'].errors?.required && showError">
          This field is required.
        </div>
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <button (click)="bsModalRef.hide()" type="button" class="btn-cancel mr-3">Cancel</button>
    <button type="submit" class="btn btn-blue-outline">Submit</button>
  </div>
</form>
