<div class="modal-header">
  <h4 class="modal-title">
    {{!modalData ? 'Create New' : 'Edit'}} {{commonService.title}}
  </h4>
</div>

<form [formGroup]="form" (ngSubmit)="formSubmit()">
  <div class="modal-body">

    <div class="row">

      <div class="col-md-6 form-group">
        <label class="required set-label">name</label>
        <input [autofocus]="true" class="form-control" formControlName="name"
               type="text" placeholder="Enter name"/>
        <div class="text-error" *ngIf="form.controls['name'].errors?.required && showError">
          This field is required.
        </div>
      </div>

      <div class="col-md-6 form-group">
        <label class="required set-label">Email</label>
        <input [autofocus]="true" class="form-control" formControlName="email"
               type="text" placeholder="Enter Email"/>
        <div class="text-error" *ngIf="form.controls['email'].errors?.required && showError">
          This field is required.
        </div>
        <div class="text-error" *ngIf="form.controls['email'].errors?.pattern && showError">
          Please enter valid email!
        </div>
      </div>

      <div class="col-md-6 form-group">
        <label class="required set-label">Contact Number</label>
        <ngx-intl-tel-input [cssClass]="'my-phone'" [preferredCountries]="[CountryISO.Malaysia]"
                            [enableAutoCountrySelect]="false" [enablePlaceholder]="false" [searchCountryFlag]="true"
                            [selectFirstCountry]="false"
                            [selectedCountryISO]="modalData?.iso_code || CountryISO.Malaysia"
                            [maxLength]="15" [customPlaceholder]="'Enter Contact Number'"
                            [phoneValidation]="false" formControlName="phone_number"></ngx-intl-tel-input>

        <div class="text-error"
             *ngIf="form.controls['phone_number'].errors?.required && showError">
          {{message.message.required}}
        </div>
      </div>

      <ng-container *ngIf="modalData">
        <h3>Bank Details</h3>
        <div class="col-md-6 form-group">
          <label class="set-label">Account Name</label>
          <input class="form-control" formControlName="account_name" type="text" placeholder="Enter account name"/>
        </div>
        <div class="col-md-6 form-group">
          <label class="set-label">Account Number</label>
          <input class="form-control" formControlName="account_number" type="text" appNumberOnly
                 placeholder="Enter account number"/>
        </div>

        <div class="col-md-6 form-group">
          <label class="set-label">Bank Name</label>
          <input class="form-control" formControlName="bank_name" type="text" placeholder="Enter bank name"/>
        </div>

        <div class="col-md-6 form-group">
          <label class="set-label">Sort code</label>
          <input class="form-control" formControlName="sort_code" type="text"
                 placeholder="Enter Sort code"/>
        </div>
      </ng-container>

    </div>
  </div>

  <div class="modal-footer">
    <button (click)="bsModalRef.hide()" type="button" class="btn-cancel mr-3">Cancel</button>
    <button type="submit" class="btn btn-blue-outline">{{!modalData ? 'Submit' : 'Update'}}</button>
  </div>
</form>
