<div class="row">
  <div class="col-md-12">
    <div class="my-box">
      <div class="row">
        <div class="col-md-3">
          <h4 class="card-title  float-left">
            {{commonService?.breadcrumb}}
          </h4>
        </div>

          <div class="col-md-3 sm-input-space">
            <div class="date-filter">
              <div class="input-group ">
                <input type="text" class="form-control" [formControl]="dates"
                       bsDaterangepicker placeholder="Select Dates"
                       [bsConfig]="{ rangeInputFormat : 'DD-MM-YYYY', dateInputFormat: 'DD-MM-YYYY', showWeekNumbers: false }">
                <span class="input-group-text" (click)="emptyDate()">
                <i class="fa fa-close"></i>
              </span>
              </div>
            </div>

        </div>
        <div class="col-md-3 text-right">
          <div class="sm-input-space">
            <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search"
                   [(ngModel)]="search" (keyup.enter)="getData()">
            <span class="input-group-text" (click)="getData()">
                <i class="fa fa-search"></i>
              </span>
          </div>
          </div>
        </div>

        <div class="col-md-3 text-right sm-input-space">
          <select class="form-control" [(ngModel)]="type" (change)="pagination.pageNo =1;getData()">
            <option value="">All Transactions</option>
            <option value="EARLY">Advanced</option>
            <option value="PENDING">Pending</option>
            <option value="COMPLETED">Completed</option>
            <option value="DECLINED">Declined</option>
          </select>
        </div>

      </div>

      <div class="row text-right">
        <div class="col-md-12">
          <button class="btn-blue-outline" (click)="exportData()">Export</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3 mb-2">
  <div class="col-md-12">
    <div class="my-box">
      <div class="table-responsive">
        <table class="table table-hover account-table">
          <thead>
          <tr>
            <th style="width:60px">Sr. No.</th>
            <th style="width:60px">Date & Time</th>
            <th class="col-width">Property Info</th>
            <th class="col-width">Transferred To</th>
            <th class="col-width">Member Info</th>
            <th class="col-width">Group Info</th>
            <th class="col-width">Agent Info</th>
            <th class="col-width">Customer Info</th>
            <th class="col-width">Proof of Transaction</th>
            <th class="col-width">Transaction Details</th>
            <th class="col-width">Payment Details</th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let data of allData | paginate: { itemsPerPage: pagination.pageSize, currentPage: pagination.pageNo, totalItems: pagination.count };let i = index;">
            <td> {{( pagination.pageNo - 1 ) * 10 + i + 1}} </td>
            <td>{{data?.time |date:'short'}}</td>
            <td>
              <b>Property Name:</b> {{data?.booking_id?.peroperty_id?.name || '-'}}<br>
              <b>Developer Name:</b> {{data?.booking_id?.peroperty_id?.developer_id?.name || '-'}}
            </td>
            <td>
              <b>Name:</b> {{data?.group_owner_id?.name || data?.agent_id?.name || data?.member_id?.name}}<br>
              <b>Phone No.</b>
              {{data?.group_owner_id?.country_code || data?.agent_id?.country_code || data?.member_id?.country_code}}
              {{data?.group_owner_id?.phone_number || data?.agent_id?.phone_number || data?.member_id?.phone_number}}
              <br>
              <b class="highlighted-text">Completed On:</b> {{data?.time |date:'short'}}
              {{data?.advanced_request ? 'Advanced Paid' : 'Paid After completion '}}
            </td>

            <td>
              <ng-container *ngIf="data?.booking_id?.member_id?.name ; else noData">
                <b>Name:</b> {{data?.booking_id?.member_id?.name || '-'}}<br>
                <b>Phone No.</b>
                {{data?.booking_id?.member_id?.country_code}}{{data?.booking_id?.member_id?.phone_number || '-'}}
                <br>
              </ng-container>
            </td>
            <td>
              <ng-container *ngIf="data?.booking_id?.group_owner_id?.name ; else noData">
                <b>Name:</b> {{data?.booking_id?.group_owner_id?.name || '-'}}<br>
                <b>Phone
                  No.:</b> {{data?.booking_id?.group_owner_id?.country_code || '-'}}{{data?.booking_id?.group_owner_id?.phone_number || '-'}}
                <br>
              </ng-container>
            </td>
            <td>
              <ng-container *ngIf="data?.booking_id?.agent_id?.name ; else noData">
                <b>Name:</b> {{data?.booking_id?.agent_id?.name || '-'}}<br>
                <b>Phone
                  No.:</b> {{data?.booking_id?.agent_id?.country_code || '-'}}{{data?.booking_id?.agent_id?.phone_number || '-'}}
                <br>
              </ng-container>
            </td>
            <td>
              <ng-container *ngIf="data?.booking_id?.name ; else noData">
                <b>Name:</b> {{data?.booking_id?.name || '-'}}<br>
                <b>Phone
                  No.:</b> {{data?.booking_id?.country_code || '-'}}{{data?.booking_id?.phone_number || '-'}}
                <br>
              </ng-container>
            </td>

            <td>
              <img [src]="data.transaction_image || '/assets/images/no-img.webp'" class="proof-img"
                   (click)="commonService.openLightBox(data.transaction_image)">
            </td>
            <td>
              <b>Transaction id:</b> {{data?.transaction_id || '-'}}<br>
              <b>Transaction Comment:</b> {{data?.transaction_comment || '-'}}
              <br>
            </td>
            <td>
              <b>Property Price:</b> {{data?.commission_price}}<br>
              <b>Advance Payment:</b> {{data?.advanced_price}}<br>
              <b>Pending Payment:</b> {{data?.total_price - data?.advanced_price}}<br>
            </td>

          </tr>
          </tbody>
        </table>
        <app-no-record *ngIf="!pagination.count"></app-no-record>
      </div>

      <div class="row" *ngIf="pagination.count">
        <div class="col-sm-6">
          <p> Showing {{ pagination.count === 0 ? 0 : pagination.skip + 1}} to
            {{commonService.cal(pagination.pageNo, pagination.limit, pagination.count)}} out
            of {{pagination.count}} entries </p>
        </div>
        <div class="col-sm-6 text-right">
          <pagination-controls (pageChange)="pagination.pageNo = $event;getData()" previousLabel="Previous"
                               nextLabel="Next"
                               screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                               screenReaderCurrentLabel="You're on page"></pagination-controls>
        </div>
      </div>

    </div>
  </div>
</div>


<ng-template #noData>
  -
</ng-template>

