$sidebar-back: #FFFFFF;
$back-color: #F8F9FF;
$red-color: #ed7181;
$orange-color: #FC5A5A;

$main-blue: #323C7A;
$main-text:#333333;
$sec1:#707595;
$sec2:#979BB1;

$btn-color: #007bff;
$border-color: #ced4da;
$grey-color: #6c757d;
$color-blue: var(--blue);
$color-black: var(--black);


:root {
  --blue: #1394ff;
  --black: #282828;
}
