$sidebar-back: #FFFFFF;
$back-color: #F8F9FF;
$red-color: #ed7181;
$main-color: #FA6400;

$main-text: #333333;
$sec1: #707595;
$btn-color: #1F244B;
$border-color: #ced4da;
$color-blue: var(--blue);

:root {
  --blue: #1394ff;
}
