<div class="modal-header">
  <h4 class="modal-title">
    {{!modalData ? 'Create New' : 'Edit'}} {{commonService.title}}
  </h4>
  <button class="btn-close" (click)="bsModalRef.hide()"></button>
</div>

<form [formGroup]="form" (ngSubmit)="formSubmit()">
  <div class="modal-body">

    <div class="row">

      <div class="col-md-4 form-group">
        <label class="required set-label">name</label>
        <input class="form-control" formControlName="name"
               type="text" placeholder="Enter name"/>
        <div class="text-error" *ngIf="form.controls['name'].errors?.required && showError">
          This field is required.
        </div>
      </div>

      <div class="col-md-4 form-group ">
        <label class="required set-label">Select Category</label>
        <select class="form-control" formControlName="category_id">
          <option value="">Please select category</option>
          <option [value]="data._id" *ngFor="let data of categories">
            {{data?.name}}
          </option>
        </select>
        <!--          <i class="fa fa-caret-down"></i>-->
        <div class="text-error" *ngIf="form.controls['category_id'].errors?.required && showError">
          This field is required.
        </div>
      </div>

      <!--      <div class="col-md-4 form-group">-->
      <!--        <label class="required set-label">Description</label>-->
      <!--        <textarea class="form-control" formControlName="descriptuon" placeholder="Enter description">-->
      <!--        </textarea>-->
      <!--        <div class="text-error" *ngIf="form.controls['descriptuon'].errors?.required && showError">-->
      <!--          This field is required.-->
      <!--        </div>-->
      <!--      </div>-->

      <div class="col-md-4 form-group">
        <label class="required set-label">builder name</label>
        <input class="form-control" formControlName="builder_name"
               type="text" placeholder="Enter builder name"/>
        <div class="text-error" *ngIf="form.controls['builder_name'].errors?.required && showError">
          This field is required.
        </div>
      </div>

      <div class="col-md-4 form-group">
        <label class="required set-label">min bedroom</label>
        <input class="form-control" formControlName="min_bedroom" appNumberOnly
               type="text" placeholder="Enter min bedroom"/>
        <div class="text-error" *ngIf="form.controls['min_bedroom'].errors?.required && showError">
          This field is required.
        </div>
      </div>
      <div class="col-md-4 form-group">
        <label class="set-label">max bedroom (Optional)</label>
        <input class="form-control" formControlName="max_bedroom" appNumberOnly
               type="text" placeholder="Enter max bedroom"/>
      </div>

      <div class="col-md-4 form-group">
        <label class="required set-label">min bathroom</label>
        <input class="form-control" formControlName="min_bathroom" appNumberOnly
               type="text" placeholder="Enter min bathroom"/>
        <div class="text-error" *ngIf="form.controls['min_bathroom'].errors?.required && showError">
          This field is required.
        </div>
      </div>
      <div class="col-md-4 form-group">
        <label class="set-label">max bathroom (optional)</label>
        <input class="form-control" formControlName="max_bathroom" appNumberOnly
               type="text" placeholder="Enter max bathroom"/>
      </div>


      <div class="col-md-4 form-group">
        <label class="required set-label">Min area size</label>
        <input class="form-control" formControlName="min_area_size"
               type="text" placeholder="Enter min area size"/>
        <div class="text-error" *ngIf="form.controls['min_area_size'].errors?.required && showError">
          This field is required.
        </div>
      </div>
      <div class="col-md-4 form-group">
        <label class="set-label">Max area size (optional)</label>
        <input class="form-control" formControlName="max_area_size"
               type="text" placeholder="Enter max area size"/>
      </div>

      <div class="col-md-4 form-group">
        <label class="required set-label">area size type</label>
        <input class="form-control" formControlName="area_size_type"
               type="text" placeholder="Enter area size type"/>
        <div class="text-error" *ngIf="form.controls['area_size_type'].errors?.required && showError">
          This field is required.
        </div>
      </div>

      <div class="col-md-4 form-group">
        <label class="required set-label">Select tensure</label>
        <select class="form-control" formControlName="tensure">
          <option value="">Please select tensure</option>
          <option value="BOTH"> BOTH</option>
          <option value="FREEHOLD"> FREEHOLD</option>
          <option value="LEASEHOLD"> LEASEHOLD</option>
        </select>
        <div class="text-error" *ngIf="form.controls['tensure'].errors?.required && showError">
          This field is required.
        </div>
      </div>

      <div class="col-md-4 form-group">
        <label class="required set-label">currency</label>
<!--        <input class="form-control" formControlName="currency"-->
<!--               type="text" placeholder="Enter currency"/>-->
        <select class="form-control" formControlName="currency">
          <option value="">Select Currency</option>
          <option *ngFor="let data of currencyList" [value]="data.symbol">
            {{data?.name}} ({{data?.symbol}})
          </option>
        </select>

        <div class="text-error" *ngIf="form.controls['currency'].errors?.required && showError">
          This field is required.
        </div>
      </div>

      <div class="col-md-4 form-group">
        <label class="required set-label">start price</label>
        <input class="form-control" formControlName="start_price" appNumberOnly
               type="text" placeholder="Enter start price"/>
        <div class="text-error" *ngIf="form.controls['start_price'].errors?.required && showError">
          This field is required.
        </div>
      </div>
      <div class="col-md-4 form-group">
        <label class="set-label">end price (optional)</label>
        <input class="form-control" formControlName="end_price" appNumberOnly
               type="text" placeholder="Enter end price"/>
      </div>

      <div class="col-md-4 form-group">
        <label class="required set-label">Select category type</label>
        <select class="form-control" formControlName="category_type">
          <option value="">Please select category type</option>
          <option value="FEATURED"> FEATURED</option>
          <option value="HOT_SELLING">HOT SELLING</option>
          <option value="LIMITED_UNITIES">LIMITED UNITS</option>
        </select>
      </div>

      <div class="col-md-4 form-group">
        <label class="required set-label">Select Status</label>
        <select class="form-control" formControlName="status">
          <option value="">Please select category type</option>
          <option value="PRE_LAUNCH"> PRE LAUNCH</option>
          <option value="NEW_LAUNCH">NEW LAUNCH</option>
          <option value="UNDER_CONSTRUCTION">UNDER CONSTRUCTION</option>
          <option value="COMPLETED">COMPLETED</option>
        </select>
        <div class="text-error" *ngIf="form.controls['status'].errors?.required && showError">
          This field is required.
        </div>
      </div>

      <div class="col-md-4 form-group">
        <label class="required set-label">Select property type</label>
        <select class="form-control" formControlName="peropert_type">
          <option value="">Please select property type</option>
          <option value="HOUSE"> HOUSE</option>
          <option value="APARTMENT">APARTMENT</option>
          <option value="OFFICE">OFFICE</option>
        </select>
        <div class="text-error" *ngIf="form.controls['peropert_type'].errors?.required && showError">
          This field is required.
        </div>
      </div>

      <div class="col-md-4 form-group">
        <label class="required set-label">Min member commission</label>
        <input class="form-control" formControlName="min_member_commision" appNumberOnly
               type="text" placeholder="Enter min  member commission"/>
        <div class="text-error" *ngIf="form.controls['min_member_commision'].errors?.required && showError">
          This field is required.
        </div>
      </div>

      <div class="col-md-4 form-group">
        <label class="set-label">Max member commission (optional)</label>
        <input class="form-control" formControlName="max_member_commision" appNumberOnly
               type="text" placeholder="Enter max member commission"/>
      </div>

      <div class="col-md-4 form-group">
        <label class="required set-label">Min Agent commission</label>
        <input class="form-control" formControlName="min_agent_commision" appNumberOnly
               type="text" placeholder="Enter min agent commission"/>
        <div class="text-error" *ngIf="form.controls['min_agent_commision'].errors?.required && showError">
          This field is required.
        </div>
      </div>

      <div class="col-md-4 form-group">
        <label class="set-label">Max Agent commission (optional)</label>
        <input class="form-control" formControlName="max_agent_commision" appNumberOnly
               type="text" placeholder="Enter max agent commission"/>
      </div>
      <div class="col-md-4 form-group">
        <label class="required set-label">Min Group owner commission</label>
        <input class="form-control" formControlName="min_group_owner_commision" appNumberOnly
               type="text" placeholder="Enter min  group owner commission"/>
        <div class="text-error" *ngIf="form.controls['min_group_owner_commision'].errors?.required && showError">
          This field is required.
        </div>
      </div>
      <div class="col-md-4 form-group">
        <label class="set-label">Max Group owner commission (optional)</label>
        <input class="form-control" formControlName="max_group_owner_commision" appNumberOnly
               type="text" placeholder="Enter max group owner commission"/>
      </div>

      <div class="col-md-4 form-group">
        <label class="required set-label">completion year</label>
        <input class="form-control" formControlName="completion_year" appNumberOnly
               type="text" placeholder="Enter completion year"/>
        <div class="text-error" *ngIf="form.controls['completion_year'].errors?.required && showError">
          This field is required.
        </div>
      </div>

      <div class="col-md-4 form-group">
        <label class="required set-label">total units</label>
        <input class="form-control" formControlName="total_units"
               type="text" placeholder="Enter total units"/>
        <div class="text-error" *ngIf="form.controls['total_units'].errors?.required && showError">
          This field is required.
        </div>
      </div>

      <div class="col-md-4 form-group">
        <label class="required set-label">Address</label>
        <input class="form-control" formControlName="address"
               type="text" placeholder="Enter address"/>
        <div class="text-error" *ngIf="form.controls['address'].errors?.required && showError">
          This field is required.
        </div>
      </div>

      <div class="col-md-4 form-group">
        <label class="required set-label">Latitude</label>
        <input class="form-control" formControlName="lat"
               type="number" placeholder="Enter latitude"/>
        <div class="text-error" *ngIf="form.controls['lat'].errors?.required && showError">
          This field is required.
        </div>
      </div>

      <div class="col-md-4 form-group">
        <label class="required set-label">Longitude</label>
        <input class="form-control" formControlName="lng"
               type="number" placeholder="Enter Longitude"/>
        <div class="text-error" *ngIf="form.controls['lng'].errors?.required && showError">
          This field is required.
        </div>
      </div>
      <div class="col-md-4 form-group ">
        <label class="required set-label">Select Developer</label>
        <select class="form-control" formControlName="developer_id">
          <option value="">Please select Developer</option>
          <option [value]="data._id" *ngFor="let data of developers">
            {{data?.name}}
          </option>
        </select>
        <!--          <i class="fa fa-caret-down"></i>-->
        <div class="text-error" *ngIf="form.controls['developer_id'].errors?.required && showError">
          This field is required.
        </div>
      </div>


      <div class="col-md-4 form-group mt-4">
        <div class="form-check-inline" style="margin-left: 21px">
          <label class="form-check-label">
            <input type="checkbox" formControlName="is_featured" class="form-check-input" value="true">Featured?
          </label>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        <label class="required set-label">Description</label>
        <angular-editor formControlName="descriptuon" [config]="editorConfig"></angular-editor>
        <div class="text-error"
             *ngIf="form.controls['descriptuon'].errors?.required && showError">
          This field is required.
        </div>

      </div>
    </div>


    <div class="row">
      <div class="col-md-4 form-group">
        <label class="required">Brochure</label>
        <div class="product-images">
          <input type="file" class="file-upload" id="brochure"
                 accept="image/jpg, image/jpeg, image/png, .pdf"
                 (change)="selectImage($event, 'brochure',3)">
          <label for="brochure">
            <img src="/assets/images/ic_camera.png">
          </label>

          <ng-container *ngIf='form?.value?.brochure'>
            <img class="ml-4 uploaded-img" height="72" for="brochure"
                 [src]="form?.value?.brochure"
                 *ngIf="!commonService.checkPDFLink(form?.value?.brochure)">

            <a *ngIf="commonService.checkPDFLink(form?.value?.brochure)" class="my-link"
               (click)="commonService.goToLink(form?.value?.brochure)">
              <i class="fa fa-file-pdf-o add-pdf-btn" aria-hidden="true"></i>
            </a>

            <i class="fa fa-times-circle fa-trash-css ml-2" (click)="removeImage('brochure',3)"
            ></i>

          </ng-container>

        </div>
        <div class="text-error"
             *ngIf="form.controls['brochure'].errors?.required && showError">
          Please select image.
        </div>
      </div>

      <div class="col-md-4 form-group">
        <label class="required">Cover Image</label>
        <div class="product-images">
          <input type="file" class="file-upload" id="cover_image"
                 accept="image/jpg, image/jpeg, image/png" (change)="selectImage($event, 'cover_image',1)">
          <label for="cover_image">
            <img src="/assets/images/ic_camera.png">
          </label>
          <img class="ml-4 uploaded-img" height="72" for="cover_image"
               [src]="form?.value?.cover_image"
               *ngIf='form?.value?.cover_image'>
          <i class="fa fa-times-circle fa-trash-css" (click)="removeImage('cover_image',1)"
             *ngIf='form?.value?.cover_image'></i>
        </div>
        <div class="text-error"
             *ngIf="form.controls['cover_image'].errors?.required && showError">
          Please select image.
        </div>
      </div>

      <div class="col-md-4 form-group">
        <label class="required">Images</label>
        <div class="product-images">
          <input type="file" class="file-upload" id="image"
                 accept="image/jpg, image/jpeg, image/png" (change)="selectImage($event, 'image',2)">
          <label for="image">
            <img src="/assets/images/ic_camera.png">
          </label>
          <ng-container *ngFor="let data of images;let i =index">
            <img class="ml-4 multiple-images"
                 [src]="data"
                 *ngIf='data'>
            <i class="fa fa-times-circle fa-trash-css" (click)="removeImageFromArr(i)"
               *ngIf='data'></i>
          </ng-container>

          <div class="text-error"
               *ngIf="!images?.length && showError">
            Please select image.
          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <button (click)="bsModalRef.hide()" type="button" class="btn-cancel mr-3">Cancel</button>
    <button type="submit" class="btn btn-blue-outline">{{!modalData ? 'Submit' : 'Update'}}</button>
  </div>
</form>
