<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">
    Invite codes
  </h4>
</div>

<div class="modal-body">

  <div class="row">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Sr. No.</th>
          <th> Invite code</th>
          <th> Used by</th>
          <th> Created at</th>
        </tr>
        </thead>
        <tbody>
        <tr
          *ngFor="let data of modalData ;let i = index;">
          <td>{{ i + 1}}</td>
          <td>{{data?.invite_code || '-'}}</td>
          <td>{{data?.used_by || '-'}}</td>
          <td>{{data?.create_at |date:'short'}}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

<div class="modal-footer">
  <button (click)="bsModalRef.hide()" type="button" class="btn btn-default mr-3">Cancel</button>
  <!--      <button type="submit" class="btn btn-blue">{{!modalData ? 'Submit' : 'Update'}}</button>-->
</div>
