<div class="modal-header">
  <h4 class="modal-title">
    Property Details
  </h4>
  <button class="btn-close" (click)="bsModalRef.hide()"></button>
</div>

<div class="modal-body">

  <table class="table details-table">
    <tr>
      <td>
        <h5>Name</h5>
        <p>{{modalData?.name || '-'}}</p>
      </td>
      <td>
        <h5>From code</h5>
        <p>{{modalData?.from_code || '-'}}</p>
      </td>
      <td>
        <h5>Min Bedroom</h5>
        <p>{{modalData?.min_bedroom || '-'}}</p>
      </td>
    </tr>

    <tr>
      <td>
        <h5>Max Bedroom</h5>
        <p>{{modalData?.max_bedroom || '-'}}</p>
      </td>
      <td>
        <h5>Min Bathroom</h5>
        <p>{{modalData?.min_bathroom || '-'}}</p>
      </td>
      <td>
        <h5>Max Bathroom</h5>
        <p>{{modalData?.max_bathroom || '-'}}</p>
      </td>
    </tr>

    <tr>
      <td>
        <h5>Min Area size</h5>
        <p>{{modalData?.min_area_size || '-'}}</p>
      </td>
      <td>
        <h5>Max Area size</h5>
        <p>{{modalData?.max_area_size || '-'}}</p>
      </td>
      <td>
        <h5>Area size type</h5>
        <p>{{modalData?.area_size_type || '-'}}</p>
      </td>
    </tr>

    <tr>
      <td>
        <h5>Start Price</h5>
        <p>{{modalData?.currency}} {{modalData?.start_price || '-'}}</p>
      </td>
      <td>
        <h5>End Price</h5>
        <p>{{modalData?.currency}} {{modalData?.end_price || '-'}}</p>
      </td>
      <td>
        <h5>Category Type</h5>
        <p>{{modalData?.category_type |replaceUnderscore}}</p>
      </td>
    </tr>

    <tr>
      <td>
        <h5>Total units</h5>
        <p>{{modalData?.total_units || '-'}}</p>
      </td>
      <td>
        <h5>Status</h5>
        <p>{{modalData?.status |replaceUnderscore}}</p>
      </td>
      <td>
        <h5>Min agent commission</h5>
        <p>{{modalData?.min_agent_commision || '-'}}</p>
      </td>
    </tr>

    <tr>
      <td>
        <h5>Max agent commission</h5>
        <p>{{modalData?.max_agent_commision || '-'}}</p>
      </td>
      <td>
        <h5>Min Group owner commission</h5>
        <p>{{modalData?.min_group_owner_commision || '-'}}</p>
      </td>
      <td>
        <h5>Max Group owner commission</h5>
        <p>{{modalData?.max_group_owner_commision || '-'}}</p>
      </td>

    </tr>

    <tr>
      <td>
        <h5>Builder name</h5>
        <p>{{modalData?.builder_name || '-'}}</p>
      </td>
      <td>
        <h5>Tensure</h5>
        <p>{{modalData?.tensure || '-'}}</p>
      </td>
      <td>
        <h5>Completion year</h5>
        <p>{{modalData?.completion_year || '-'}}</p>
      </td>
    </tr>

    <tr>
      <td>
        <h5>Property Type</h5>
        <p>{{modalData?.peropert_type || '-'}}</p>
      </td>
      <td>
        <h5>Min Member Commission</h5>
        <p>{{modalData?.min_member_commision || '-'}}</p>
      </td>
      <td>
        <h5>Max Member Commission</h5>
        <p>{{modalData?.max_member_commision || '-'}}</p>
      </td>
    </tr>

    <tr>
      <td>
        <h5>Brochure</h5>
        <div class="detail-images">
          <img [src]="modalData?.brochure" *ngIf="!commonService.checkPDFLink(modalData?.brochure)">
          <a *ngIf="commonService.checkPDFLink(modalData?.brochure)" class="my-link"
             (click)="commonService.goToLink(modalData?.brochure)">
            <i class="fa fa-file-pdf-o fa-3x" aria-hidden="true"></i>
          </a>
        </div>
      </td>

      <td colspan="2">
        <h5>Address</h5>
        <p>{{modalData?.address || '-'}}</p>
      </td>
    </tr>
    <tr>
      <td>
        <h5>Developer Name</h5>
        <p>{{modalData?.developer_id?.name || '-'}}</p>
      </td>
      <td>
        <h5> Featured?</h5>
        <p>{{modalData?.is_featured ? 'Yes' : 'No'}}</p>
      </td>
    </tr>

    <tr>
      <td colspan="3">
        <h5>Images</h5>
        <div class="detail-images">
          <ng-container *ngFor="let data of modalData?.images">
            <img [src]="data">
          </ng-container>
        </div>
      </td>
    </tr>

    <tr>
      <td colspan="3">
        <h5>Description</h5>
        <p [innerHTML]="modalData?.descriptuon">{{modalData?.descriptuon || '-'}}</p>
      </td>
    </tr>

  </table>

</div>

<div class="modal-footer">
  <button (click)="bsModalRef.hide()" type="button" class="btn btn-default mr-3">Close</button>
</div>
