<div class="modal-header">
  <h4 class="modal-title">
    {{!modalData ? 'Create New' : 'Edit'}} {{commonService.title}}
  </h4>
</div>

<form [formGroup]="form" (ngSubmit)="formSubmit()">
  <div class="modal-body">

    <div class="row">

      <div class="col-md-12 form-group">
        <label class="required set-label"> min price</label>
        <input [autofocus]="true" class="form-control" formControlName="min_price"
               type="number" placeholder="Enter min price"/>
        <div class="text-error" *ngIf="form.controls['min_price'].errors?.required && showError">
          This field is required.
        </div>
      </div>

      <div class="col-md-12 form-group">
        <label class="required set-label"> max price</label>
        <input [autofocus]="true" class="form-control" formControlName="max_price"
               type="number" placeholder="Enter max price"/>
        <div class="text-error" *ngIf="form.controls['max_price'].errors?.required && showError">
          This field is required.
        </div>
      </div>

      <div class="col-md-12 form-group">
        <label class="required set-label"> currency</label>
        <select class="form-control" formControlName="currency">
          <option value="">Select Currency</option>
          <option *ngFor="let data of currencyList" [value]="data.symbol">
            {{data?.name}} ({{data?.symbol}})
          </option>
        </select>

<!--        <input class="form-control" formControlName="currency"-->
<!--               type="text" placeholder="Enter currency"/>-->
        <div class="text-error" *ngIf="form.controls['currency'].errors?.required && showError">
          This field is required.
        </div>
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <button (click)="bsModalRef.hide()" type="button" class="btn-cancel mr-3">Cancel</button>
    <button type="submit" class="btn btn-blue-outline">{{!modalData ? 'Submit' : 'Update'}}</button>
  </div>
</form>
