<div class="modal-header">
  <h4 class="modal-title">
    {{!modalData ? 'Create New' : 'Edit'}} State
  </h4>
</div>

<form [formGroup]="form" (ngSubmit)="formSubmit()">
  <div class="modal-body">

    <div class="row">

      <div class="col-md-12 form-group">
        <label class="required set-label"> name</label>
        <input [autofocus]="true" class="form-control" formControlName="name"  appTrim
               placeholder="Enter name"/>
        <div class="text-error" *ngIf="form.controls['name'].errors?.required && showError">
          This field is required.
        </div>
      </div>

      <div class="col-md-12 form-group">
        <label class="set-label required"> longitude</label>
        <input class="form-control" formControlName="lng" appTrim
               type="number" placeholder="Enter longitude"/>
        <div class="text-error" *ngIf="form.controls['lng'].errors?.required && showError">
          This field is required.
        </div>
      </div>

      <div class="col-md-12 form-group">
        <label class="set-label required"> latitude</label>
        <input class="form-control" formControlName="lat" appTrim
               type="number" placeholder="Enter latitude"/>
        <div class="text-error" *ngIf="form.controls['lat'].errors?.required && showError">
          This field is required.
        </div>
      </div>

    </div>

  </div>

  <div class="modal-footer">
    <button (click)="bsModalRef.hide()" type="button" class="btn-cancel mr-3">Cancel</button>
    <button type="submit" class="btn btn-blue-outline">{{!modalData ? 'Submit' : 'Update'}}</button>
  </div>
</form>
