<form [formGroup]="form" (ngSubmit)="formSubmit()">

  <div class="row">
    <div class="col-md-12">
      <div class="my-box">
        <div class="row">
          <div class="col-md-3">
            <h4 class="card-title  float-left">
              <ng-container *ngIf="type === 'about'">About Us</ng-container>
              <ng-container *ngIf="type === 'privacy'">Privacy Policy</ng-container>
              <ng-container *ngIf="type === 'terms'">Terms and Conditions</ng-container>
              <ng-container *ngIf="type === 'privacy-settings'">Privacy Settings</ng-container>
            </h4>
          </div>

          <div class="col-md-9 text-right">
            <div class="modal-footer">
              <button type="submit" class="btn btn-blue-outline">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3 mb-2">
    <div class="col-md-12">
      <div class="my-box">

        <div class="row">

          <div class="col-md-12 form-group">
            <label class="required set-label">Content</label>
            <angular-editor formControlName="content" [config]="editorConfig"></angular-editor>
            <div class="text-error" *ngIf="form.controls['content'].errors?.required && showError">
              This field is required.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>
