<header class="app-header"><a class="app-header__logo" href="javascript://">
  {{profileData?.name || appTitle}}
</a>
  <ul class="app-nav">

    <li class="item_btn header-right-side">
      <div dropdown  placement="bottom left"  (onShown)="onShown()">
        <img src="/assets/images/noti-icon.png"
             href id="basic-link" dropdownToggle aria-controls="basic-link-dropdown">
        <ul id="basic-link-dropdown noti-list" *dropdownMenu class="dropdown-menu dropdown-menu-left"
            role="menu" aria-labelledby="basic-link">
          <li *ngFor="let choice of items" class="">
            <a class="dropdown-item">{{choice}}</a>
          </li>
        </ul>

      </div>
    </li>
  </ul>
</header>
