<header class="app-header"><a class="app-header__logo" href="javascript://">
  {{appTitle}}
</a>
  <ul class="app-nav">

    <!--    <button class="btn btn-primary" (click)="apiHit()">Push</button>-->

    <li class="item_btn header-right-side">
      <div dropdown placement="bottom left" (onShown)="onShown()" [insideClick]="true">
        <img src="/assets/images/noti-icon.png"
             href id="basic-link" dropdownToggle aria-controls="basic-link-dropdown" (click)="readNotifications()">
        <span class="show-count" *ngIf="profileData?.notification_count">{{profileData?.notification_count}}</span>
        <ul id="basic-link-dropdown " *dropdownMenu class="dropdown-menu dropdown-menu-left"
            role="menu" aria-labelledby="basic-link">

          <li class="noti-header">

            <h3>
              Notifications
            </h3>
            <a (click)="clearNotifications()" *ngIf="notifications?.length"> Clear All</a>

          </li>
          <li *ngFor="let data of notifications" class="noti-list row">

            <h5 class="col-md-12">{{data?.title}}

              <i class="fa fa-times close-icon" (click)="clearNotifications(data)"></i>

            </h5>

            <p class="col-md-12">{{data?.message}}</p>

            <span class="col-md-12">{{data?.created_at |date:'short'}}</span>
          </li>

          <app-no-record *ngIf="!notifications?.length"></app-no-record>

        </ul>

      </div>
    </li>
  </ul>
</header>


<!--<div *ngIf="message;">-->
<!--  <h1>{{ message.notification.title }}</h1>-->
<!--  <h2>{{ message.notification.body }}</h2>-->
<!--</div>-->
<!--<div *ngIf="!message;">-->
<!--  No Message Arrived-->
<!--</div>-->

