<div class="modal-header">
  <h4 class="modal-title">
    User Details
  </h4>
  <button class="btn-close" (click)="bsModalRef.hide()"></button>
</div>

<div class="modal-body">

  <!--  <div class="row">-->
  <!--    <div class="img-area">-->
  <!--      <img [src]="modalData?.image"-->
  <!--           (click)="commonService.openLightBox(modalData?.image)">-->
  <!--    </div>-->
  <!--  </div>-->

  <!--  <div class="row">-->
  <table class="table details-table">
    <tr>
      <td>
        <h5>Name</h5>
        <p>{{modalData?.name || '-'}}</p>
      </td>
      <td>
        <h5>Email</h5>
        <p>{{modalData?.email || '-'}}</p>
      </td>
    </tr>
    <tr>
      <td>
        <h5>Phone number</h5>
        <p>{{modalData?.country_code}} {{modalData?.phone_number || '-'}}</p>
      </td>
      <td *ngIf="modalData?.age">
        <h5>Age</h5>
        <p>{{modalData?.age || '-'}}</p>
      </td>
    </tr>
  </table>
  <!--  </div>-->
</div>

<div class="modal-footer">
  <button (click)="bsModalRef.hide()" type="button" class="btn btn-default mr-3">Close</button>
  <!--      <button type="submit" class="btn btn-blue">{{!modalData ? 'Submit' : 'Update'}}</button>-->
</div>
